body {
background: #555;
}

#wrapper{
background: #fff url("../images/wrapperbg.jpg") top center repeat-y;
}


#header{
background: #555 url("../images/headerbg.jpg") bottom center no-repeat;
}	
 

#footer {
background:  url("../images/footerbg.jpg") bottom center no-repeat;
}

#credit{
background: #555;
}

#credit p, #credit p a, #credit p a:hover{
color:#999;
}

#search{
background: #888;
border: 1px solid #444;
}

#search input{
color: #fff;
}
